.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build

/*/build/
build/
/*/bin/
/*/gen/
/*/proguard/
/*/out/
/*/.svn/
/*/.settings/
/*/*.iml
*.apk
*.ap_
*.class
*.dex
project.properties

.idea/.name
.idea/*.xml
.idea/dataSources.ids
.idea/libraries/
.idea/scopes/
.idea/copyright/
.idea/dictionaries/
.idea/inspectionProfiles/
.gradle/
.metadata/
*.iml

*/.DS_Store
.DS_Store
Thumbs.db

com_crashlytics_export_strings.xml
crashlytics-build.properties

atlassian-ide-plugin.xml

/*/mapping.txt
/*/seeds.txt
/*/unused.txt
.idea/